<h1 class="row col-sm justify-content-center">Notre Carte</h1>
<h2 class="row col-sm justify-content-center">Entrées</h2>
<div *ngFor="let carte of cartes | filter: 'entrée'">
  <p class="row col-sm justify-content-center">{{carte.nom}} - {{carte.prix}} €</p>
  <button *ngIf="canEdit()" (click)="updateCarte(carte.id, carte.nom, carte.prix)">Modifier</button>
  <button *ngIf="canEdit()" (click)="deleteCarte(carte.id)">Supprimer</button>
</div>

<h2 class="row col-sm justify-content-center">Plats</h2>
<div *ngFor="let carte of cartes | filter: 'plat'">
  <p class="row col-sm justify-content-center">{{carte.nom}} - {{carte.prix}} €</p>
  <button *ngIf="canEdit()" (click)="updateCarte(carte.id, carte.nom, carte.prix)">Modifier</button>
  <button *ngIf="canEdit()" (click)="deleteCarte(carte.id)">Supprimer</button>
</div>

<h2 class="row col-sm justify-content-center">Desserts</h2>
<div *ngFor="let carte of cartes | filter: 'dessert'">
  <p class="row col-sm justify-content-center">{{carte.nom}} - {{carte.prix}} €</p>
  <button *ngIf="canEdit()" (click)="updateCarte(carte.id, carte.nom, carte.prix)">Modifier</button>
  <button *ngIf="canEdit()" (click)="deleteCarte(carte.id)">Supprimer</button>
</div>
