<p class="row col-sm justify-content-center">Le Chef Arnaud Michant aime passionnément les produits et
 producteurs de la Savoie. C’est pourquoi il a décidé d’ouvrir son troisième restaurant dans ce département.
 Le Quai Antique sera installé à Chambéry et vous proposera au déjeuner comme au dîner une expérience
 gastronomique à travers une cuisine sans artifice. Plus encore que ses deux autres restaurants,
 Arnaud Michant voit Le Quai Antique comme une promesse d’un voyage dans son univers culinaire.</p>
<app-galerie></app-galerie>

